.modal-body .reg_form {
    width: 360px;
    height: 280px;
    margin: 0 auto;
}

.modal-body .reg_form li {
    height: 70px;
}

.modal-body .reg_form li label {
    width: 70px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 14px;
    color: #a8a8a8
}

.modal-body .reg_form li input {
    width: 288px;
    height: 38px;
    border: 1px solid #e0e0e0;
    float: left;
    outline: none;
    text-indent: 10px;
    background-color: #f8f8f8
}

.modal-body .reg_form .code{
    width: 144px;
    height: 38px;
    border: 1px solid #e0e0e0;
    float: left;
    outline: none;
    text-indent: 10px;
    background-color: #f8f8f8
}

.modal-body .reg_form li.agreement input {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 13px
}

.modal-body .reg_form li.agreement label {
    width: 300px;
    float: left;
    margin-left: 10px;
}

.modal-body .reg_form li .error_tip {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 70px;
    color: #e62e2e;
    display: none;
}

.modal-body .reg_form li .error_tip2 {
    float: left;
    height: 20px;
    line-height: 20px;
    color: #e62e2e;
    display: none;
}
