{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用方法</title>
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/register.css" %}'>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>

<!--头部结构开始-->
{% include "header.html" %}
<!--头部结构结束-->
<section id="contact-us">
    <div class="container">
        <div class="row">

            <!--section title-->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Instruc<span class="color">tion</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
</section>
<!-- end section -->

{% include "footer.html" %}
</body>
</html>