{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<link rel="stylesheet" href='{% static "css/base.css" %}' type="text/css"/>
<body>
<h2>用户注册成功！</h2>
<h3 id="sp">3秒后自动跳转到主页。</h3>
</body>
<style>
    body {
        padding-top: 200px;
    }

    h2 {
        color: #dddddd;
        font-size: 50px;
        text-align: center;
    }

    h3 {
        color: #dddddd;
        font-size: 30px;
        text-align: center;
    }
</style>
<script type="text/javascript">
    onload = function () {
        setInterval(go, 1000);
    };
    var x = 3; //利用了全局变量来执行
    function go() {
        x--;
        if (x >= 0) {
            document.getElementById("sp").innerHTML = x + "秒后自动跳转到主页。"; //每次设置的x的值都不一样了。
        } else {
            location.href = '/index/';
        }
    }
</script>
